body {
    font-family: 'Baloo Bhai 2', cursive;

    margin: 0px;
    padding: 0px;
    background-color: rgb(114, 212, 236);
}

header {
    overflow: hidden;
}

.left {
    display: inline block;
    /* border: 2px solid red; */
    position: absolute;
    left: 28px;
    top: 19px;
}

.left img {
    width: 150px;
}

#t1 {
    font-size: 50px;
    text-align: center;
    color: white
}

/* header::before {
    background: url('https://images.unsplash.com/photo-1554224155-a1487473ffd9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat center center/cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 1.0;
} */
.img1 {
    /* border: solid 2px black; */
    margin: 21px 20px 20px 413px;
    padding: 30px;
    height: 220px;
    width: 700px;
}

.mid {
    display: block;
    width: 36%;
    margin: 20px auto;
    /* border: 2px solid green; */
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: rgb(247, 74, 74);
    text-decoration: none;
    padding: 30px 12px;
}

.navbar li a:hover,
.navbar li a.active {
    color: grey;
    text-decoration: underline;
}

.btn {
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn:hover {
    background-color: grey;
}

.right {
    position: absolute;
    right: 33px;
    top: 22px;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    background: skyblue;
    margin-top: 20px;
    position: absolute;

    left: 87px;
    top: 260px
}

.container ul {
    padding: 0px;
    margin: 0px;
}


.container ul li {
    float: left;
    list-style: none;
    width: 20%;
    height: 300px;
    background: red;
    margin: 20px 0px 20px 55px;
    border: 2px solid blue;
    box-sizing: border-box;
}

.container ul li:hover {
    opacity: 0.8;
}

.container ul li .bottom {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: blue;
    text-align: center;
    color: white;
    font-size: 20px;

}

@media screen and (max-width:1250px) {
    .container ul li {
        width: 40%;
        margin-left: 40px;

    }
}


.foot {
    /* border: solid 2px red; */
    margin: 0px;
    padding: 10px 0px 10px 0px;
    background: rgb(100, 160, 184);
    color: white;
    position: absolute;
    bottom: 0.5px;
    /* right: 18%; */
    width: 100%;
    height: 50px;
    text-align: center;
}

@media only screen and (max-width:870px) {
    .right {
        display: none;
    }

}

@media only screen and (max-width:576px) {
    .navbar {
        display: none;
    }
}